{
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "ducks": "./redux/ducks",
          "layout": "./layout",
          "pages": "./pages",
          "static": "./static",
          "utils": "./utils"
        }
      }
    ]
  ],
  "presets": [
    "next/babel",
  ]
}
